<body>
  <section class="container perfil-cliente">
      <div>
        <img class="container-img" src="../../../assets/images/usuario.png" alt="Foto usuário" />
      </div>

      <div *ngIf="id && Nome; else loading">
        <h1>{{ Nome }}</h1>
        <p>Email: {{ Email }}</p>
        <button (click)="editarCliente()">Editar Perfil</button>
        <button (click)="excluirCliente()">Excluir Perfil</button>

        <h3>Avaliações</h3>
        <ul *ngIf="listaAvaliacao.length; else semAval">
          <li *ngFor="let a of listaAvaliacao">
            {{ a.Comentario }} — Nota: {{ a.Nota }}
          </li>
        </ul>
        <ng-template #semAval>
          <p>Ainda não há avaliações criadas!</p>
        </ng-template>
      </div>
      <ng-template #loading>
        <p>Carregando...</p>
      </ng-template>


    <ng-template #OutroPerfil>
      <h1>{{ Nome }}</h1>
    </ng-template>
  </section>
</body>
